html, body, input, textarea, button {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}

body {
    background-image: url(res/bg.svg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    overflow: hidden;
}

form {
    background-color: white;
    color: black;
    padding: 1em;
    font-size: 1em;
    width: 250px;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 1000;
    border: 2px solid black;
}

label {
    vertical-align: top;
}

.input {
    display: block;
}

#driveway {
    position: absolute;
    width: 80%;
    top: 50%;
}

.road {
    background-image: url(res/road.svg);
    background-size: 110px 100%;
    position: relative;
    width: 100%;
    height: 110px;
    margin-bottom: 50px;
}

.road .lane {
    position: absolute;
    width: 100%;
    height: 50px;
    transition: all 5s;
}

.car {
    position: absolute;
    display: block;
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
}

.carA {
    background-image: url(res/carA.svg);
}

.carB {
    background-image: url(res/carB.svg);
}

.carC {
    background-image: url(res/carC.svg);
}

.results {
    position: absolute;
    right: -240px;
    padding: 17px;
    background-color: white;
    top: 35px;
    width: 240px;
    height: 60px;
    border: 6px solid #ffd42a;
}

.landscape {
    position: relative;
    width: 100%;
    height: 100%;
}

.tree {
    position: absolute;
    background-image: url(res/tree.svg);
    background-size: 100% 100%;
    width: 120px;
    height: 200px;
    top: -100%;
}

.cloud {
    position: absolute;
    background-image: url(res/cloud.svg);
    background-size: 100% 100%;
    width: 200px;
    height: 300px;
    top: -100%;
}